<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kyko - Change Password</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
    <div class="row" style="margin-top: 100px">
      <div class="col-md-2 col-md-offset-5">
        {{#if error}}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{error}}
          </div>
        {{/if}}
        <form action="passwordchange" method="post">
          <div class="form-group">
            <label for="inputTxtEmail">Email address</label>
            <input type="email" class="form-control" id="inputTxtEmail" name="inputTxtEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputTxtPassword">New Password</label>
            <input type="password" class="form-control" id="inputTxtPassword" name="inputTxtPassword" placeholder="New Password">
          </div>
          <div class="form-group">
            <label for="inputTxtPassword2">Confirm Password</label>
            <input type="password" class="form-control" id="inputTxtPassword2" name="inputTxtPassword2" placeholder="Confirm Password">
          </div>
          <input type="hidden" id="inputHiddenToken" name="inputHiddenToken" value="{{token}}">
          <input type="hidden" id="inputHiddenAccountId" name="inputHiddenAccountId" value="{{accountId}}">
          <button type="submit" class="btn btn-default" value="submit">Submit</button>
        </form>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>