<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KYKO - Know Yourself Know Other</title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/css/index.css" rel="stylesheet">
  </head>
  <body class="container">
    <div id="app" class="col-md-12">
      <h1>TEST REPORT</h1>
      <h1>{{data.name}}</h1>
      <h1>Candidate</h1>
      <table>
        <tbody>
          <tr>
            <td>Email</td>
            <td>
              <div style="display: inline-block; margin-left: 10px; margin-right: 5px">:</div>
              <div style="display: inline-block">{{data.candidate.email}}</div>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top">Additional Information</td>
            <td>
              <div style="display: inline-block; margin-left: 10px; margin-right: 5px; vertical-align: top">:</div>
              <div style="display: inline-block">{{{data.candidate.additionalInformation}}}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      {{{data.header}}}
      <hr />
      <h1>Dimensions Breakdown</h1>
      {{#each data.dimensions}}
        <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; padding-bottom: 10px">
          <div>Dimension</div>
          <h3 style="margin: 0">{{name}}</h3>
          <div style="display: inline-block; width: 50%">
            <div>
              <h1 style="display: inline-block; margin: 0">{{score}}</h1>
              <div style="display: inline-block;">{{level}}</div>
            </div>
            <div style="margin-top: 10px">
              <div style="font-weight: bold">Interpretation</div>
              <div style="text-align: justify">{{interpretation}}</div>
            </div>
            <div style="margin-top: 10px">
              <div style="font-weight: bold">Traits</div>
              <div>
                <ul style="padding-left: 17px">
                {{#each traits}}
                  <li>{{this}}</li>
                {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div style="display: inline-block; width: 48%; margin-left: 1%; vertical-align: top">
            <div style="font-weight: bold">Factors Breakdown</div>
            <div style="border: 1px solid #ccc">
              {{#each factors}}
                <div style="padding-bottom: 10px">
                  <div style="position: relative; height: 40px">
                    <div style="
                      display: inline-block;
                      z-index: 0;
                      position: absolute;
                      left: 0;
                      width: {{percent}}%;
                      height: 40px;
                      background-color: #ccc"
                    >&nbsp;</div>
                    <div style="display: inline-block; z-index: 1; position: absolute; top: 10px; left: 0">{{name}}</div>
                    <div style="display: inline-block; z-index: 1; position: absolute; top: 10px; right: 0">{{score}}</div>
                  </div>
                  <div>{{description}}</div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}

      {{#each data.variables}}
        <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; padding-bottom: 10px">
          <div>{{type}}</div>
          <h3 style="margin: 0">{{name}}</h3>
          <div style="display: inline-block; width: 50%">
            <div>
              <h1 style="display: inline-block; margin: 0">{{score}}</h1>
              <div style="display: inline-block;">{{level}}</div>
            </div>
            <div style="margin-top: 10px">
              <div style="font-weight: bold">Interpretation</div>
              <div style="text-align: justify">{{interpretation}}</div>
            </div>
          </div>
          <div style="display: inline-block; width: 48%; margin-left: 1%; vertical-align: top">
            <div style="font-weight: bold">Factors Breakdown</div>
            <div style="border: 1px solid #ccc">
              {{#each factors}}
                <div style="padding-bottom: 10px">
                  <div style="position: relative; height: 40px">
                    <div style="
                      display: inline-block;
                      z-index: 0;
                      position: absolute;
                      left: 0;
                      width: {{percent}}%;
                      height: 40px;
                      background-color: #ccc"
                    >&nbsp;</div>
                    <div style="display: inline-block; z-index: 1; position: absolute; top: 10px; left: 0">{{name}}</div>
                    <div style="display: inline-block; z-index: 1; position: absolute; top: 10px; right: 0">{{score}}</div>
                  </div>
                  <div>{{description}}</div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}

      <h1>Strengths & Improvement Needs</h1>
      <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px">
        <div style="font-weight: bold">Strengths</div>
        <div>
          <ul style="padding-left: 17px">
            {{#each data.factor.strengths}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div style="font-weight: bold">Improvement Needs</div>
        <div>
          <ul style="padding-left: 17px">
            {{#each data.factor.improvements}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>

      <h1>HR Recommendation & Treatment</h1>
      <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px">
        {{#each data.recomendations}}
          <div style="margin-bottom: 10px">
            <div style="font-weight: bold">{{name}}</div>
            <div>
              <ul>
                {{#each items}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>