<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" width=device-width, 
initial-scale=1.0, maximum-scale=1.0" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KYKO - Know Yourself Know Other</title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
      <div class="repheader">
        <div class="rephead-title">
          <div class="reptitle-top">Personality Profiling Report</div>
          <div class="reptitle"><h1><%=users.name%></h1></div>
        </div>
        <div class="rephead-info">
          <div class="repinfo-title">Candidate Email</div>
          <div class="repinfo"><%=users.candidate.email%></div>
          <div class="repinfo-title">Additional Information</div>
          <div class="repinfo"><%=users.candidate.additionalInformation%></div>
        </div>
      </div>
      <div class="introduction"><p>&nbsp;</p><p>&nbsp;</p><p><strong>Introduction</strong></p><p>&nbsp;</p><p>Professionals are the life blood of an organization. Their quality determines the success and failures of an organization.</p><p>&nbsp;</p><p>HNH and KYKO professional is specifically designed to map up the qualities of the professionals.</p><p>The first part of the report encompasses personality, traits, potential competencies, strengths and improvement needs for the organization to develop and manage their professionals effectively toward accomplishing its goals.</p><p>The second part of the report provides recommendations for Human Resource Department to make decision
         on hiring, placement, job fit, and training and development for both the new hires and
         incumbents.</p><p>HNH and KYKO instrument is validated and calibrated to ensure the accuracy,
      validity and reliability using statistical tools to ensure the set of items are measuring what they are suppose to
      measure. The report is in the form of narratives and graphics to make
      it self-explanatory for the respondent. Each dimension is represented by a color as
      below:</p><div><table><tbody><tr><td><div style="height:15px;background:blue;width:180px "></div></td><td>- Self-Actualization</td></tr>
        <tr><td><div style="height:15px;background:brown;width:180px "></div></td><td>- Self-Actualization</td></tr>
        <tr><td><div style="height:15px;background:yellow;width:180px "></div></td><td>- EgoCentricity</td></tr>
        <tr><td><div style="height:15px;background:gray;width:180px "></div></td><td>- SecurityS</td></tr>
        <tr><td><div style="height:15px;background:#b7410e;width:180px "></div></td><td>- Complexity</td></tr></tbody></table><p>&nbsp;</p>
      </div></div>
      <div class="sectiondiv"><p>Dimensions Breakdown</p></div>


        <% users.dimensions.forEach(function(report) { %>

        console.log(user);
    // el - current element, i - index


          <div class="dimension-main">
            <div class="dim-name">
              <div class="dim-type">Dimension</div>
              <%= report.name %>
            </div>
            <div class="dimension-left">
              <div class="dim-score"><%= report.score %></div>
              <div class="dim-value"><%= report.level %></div>
              <div style="clear:both;"></div>
              <div class="dim-int">
                <div class="dim-title">Interpretation</div>
                <div class="dim-int-t"><%= report.interpretation %></div>
                <div class="dim-title">Traits</div>
                <div class="dim-int-t">
                  <ul style="padding-left: 17px">
                      <% report.traits.forEach(function(trait){ %>
                      <li><%= trait %></li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dimension-right">
              <div class="dim-title">Factors Breakdown</div>
              <div class="dim-fac-main">
                <% report.factors.forEach(function(factor) { %>
                  <div style="padding-bottom: 10px">
                    <div style="position: relative; height: 30px">
                      <div style="
                        display: inline-block;
                        z-index: 0;
                        position: absolute;
                        left: 0;
                        width: <%= factor.percent %>;
                        height: 30px;" class="factor-{{code}}"
                      >&nbsp;</div>
                      <div class="fac-name"><%=factor.name%></div>
                      <div class="fac-score"><%=factor.score%></div>
                    </div>
                    <div><%=factor.description%></div>
                  </div>
              <%  }) %>
              </div>
            </div>
        </div>
      <div class="line-div"></div>
      <% }) %>
    <% users.variables.forEach(function(variable) { %>
        <div class="dimension-main">
          <div class="dim-name">
            <div class="dim-type"><%= variable.type %></div>
            <%= variable.name %>
          </div>
          <div class="dimension-left">
              <div class="dim-score"><%= variable.score %></div>
              <div class="dim-value"><%= variable.level %></div>
              <div style="clear:both;"></div>
              <div class="dim-int">
                <div class="dim-title">Interpretation</div>
                <div class="dim-int-t"><%= variable.interpretations %></div>
              </div>
            </div>
            <div class="dimension-right">
              <div class="dim-title">Factors Breakdown</div>
              <div class="dim-fac-main">
                <% variable.factors.forEach(function(factor) { %>
                  <div style="padding-bottom: 10px">
                    <div style="position: absolute; height: 30px">
                      <div style="
                        display: inline-block;
                        z-index: 0;
                        position: relative;
                        left: 0;
                        width: <%= factor.percent %>%;
                        height: 30px;" class="factor-{{code}}"
                      >&nbsp;</div>
                      <div class="fac-name"><%= factor.name %></div>
                      <div class="fac-score"><%= factor.score %></div>
                    </div>
                    <div><%= factor.description %></div>
                  </div>
              <% }) %>
              </div>
            </div>
        </div>
      <div class="line-div"></div>
    <% }) %>

      <div class="sectiondiv"><p>Strengths & Improvement Needs</p></div>
      <div style="padding:20px;">
        <div class="dim-title">Strengths</div>
        <div>
          <ul style="padding-left: 17px">
            <% users.factor.strengths.forEach(function(strength) { %>
              <li>strength</li>
            <% }) %>
          </ul>
        </div>
        <div class="dim-title">Improvement Needs</div>
        <div>
          <ul style="padding-left: 17px">
          <% users.factor.improvements.forEach(function(improvement) { %>
              <li>improvement</li>
            <% }) %>
          </ul>
        </div>
      </div>
      <div class="line-div"></div>
      <div class="sectiondiv"><p>Treatment & Recommendation</p></div>
      <div style="padding:20px;">
      <% users.recomendations.forEach(function(improvement) { %>
          <div style="margin-bottom: 10px">
            <div class="dim-title">improvement.name</div>
            <div>
              <ul>
                <% improvement.items.forEach(function(item) { %>
                  <li>item</li>
                  <% }) %>
              </ul>
            </div>
          </div>
          <% }) %>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
