@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

h1{
	font-size: 40px;
	letter-spacing:1px;
	line-height:5px;
	font-weight:700;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight:500;
	letter-spacing:1px;
	line-height:5px;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight:500;
	letter-spacing:1px;
	line-height:5px;
}

p{
	font-family: 'Open Sans', sans-serif;
}

.loadingApp {
	display: 'flex';
	width: 100vw;
	height: 100vh;
	align-items: 'center';
	justify-content: 'center';
}

.factor-SA1, .factor-SA2, .factor-SA3, .factor-SA4, .factor-SA5, .factor-SA6{
	background: #002e84; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, white , #002e84); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #002e84); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #002e84); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #002e84); /* Standard syntax */
}

.factor-E1, .factor-E2, .factor-E3, .factor-E4, .factor-E5, .factor-E6{
	background: #e00912; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, white , #e00912); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #e00912); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #e00912); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #e00912); /* Standard syntax */
}

.factor-SO1, .factor-SO2, .factor-SO3, .factor-SO4, .factor-SO5, .factor-SO6{
	background: #ffc425; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, white , #ffc425); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #ffc425); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #ffc425); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #ffc425); /* Standard syntax */
}

.factor-SE1, .factor-SE2, .factor-SE3, .factor-SE4, .factor-SE5, .factor-SE6{
	background: #00a289; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, white , #00a289); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #00a289); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #00a289); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #00a289); /* Standard syntax */
}

.factor-C1, .factor-C2, .factor-C3, .factor-C4, .factor-C5, .factor-C6{
	background: #ac218d; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, white , #ac218d); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #ac218d); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #ac218d); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #ac218d); /* Standard syntax */
}

.repheader{
	margin:0px auto;
	width:100%;
	height:200px;
	background:url(/img/reportbg.png) bottom right no-repeat #dedede;
}
.rephead-title{
	float:left;
	margin:120px 0px 15px 25px;
}
.reptitle-top{
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight:300;
	letter-spacing:1px;
}
.reptitle{
	font-family: 'Roboto Slab', serif;
	font-size: 34px;
	font-weight:700;
	letter-spacing:1px;
	line-height:30px;
	text-transform: uppercase;
	position: relative;
	top:-5px;
}
.rephead-info{ float:right; margin:15px; }
.repinfo-title{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight:700;
	letter-spacing:1px;
	text-align: right;
	top:10px;
}
.repinfo{
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight:300;
	letter-spacing:1px;
	text-align: right;
}

.introduction{
	margin:10px 20px;
}

.sectiondiv{
	width:100%;
	height:40px;
	margin-top:10px;
	background:#dedede;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 24px;
	font-weight:700;
}
.sectiondiv p{
	margin:0px 15px;
	padding:3px;
	font-family: 'Roboto Slab', sans-serif;
}

.dimension-main{
	display:block;
}
.line-div{
	padding:10px 0px;
	border-bottom:1px dashed #ccc;
	clear:both;
}
.dim-type{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 18px;
	font-weight:400;
	color:#999;
	text-transform: capitalize;
	line-height: 15px;
}
.dim-name{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 34px;
	font-weight:400;
	padding:15px 15px 0px 15px;
	line-height: 34px;
}
.dimension-left{
	float:left;
	width:520px;
}
.dimension-right{
	float:left;
	width:380px;
}
.dim-score{
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	font-weight:700;
	letter-spacing:1px;
	padding-left:15px;
	line-height: 72px;
	float:left;
}
.dim-value{
	color:#97bbcd;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:600;
	float:left;
	padding-left:15px;
	padding-top:32px;
	text-align:left;
}
.dim-int{
	margin:0px 15px;
}
.dim-type{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 18px;
	font-weight:400;
	color:#999;
}.dim-title{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 18px;
	font-weight:700;
	margin-top:5px;
	margin-bottom:5px;
}
.dim-int-t{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight:400;
	letter-spacing:1px;
	line-height:16px;
}

.dim-fac-main{
	border:1px solid #ddd;
	width:100%;
	padding:5px;
}
.dim-fac{
	width:100%;
}
.fac-bar-main{position:relative;height:30px;display:block;}
.fac-name{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight:700;
	letter-spacing:1px;
	line-height:16px;
	position:absolute;top:5px;left:5px;
	/* text-shadow: 1px 1px #ddd; */
}
.fac-score{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight:700;
	letter-spacing:1px;
	line-height:17px;
	position:absolute;top:5px;right:5px;
}
.fac-bar{
	height:30px;
	position:absolute;top:0px;left:0px;
	background:#97bbcd;
}
.fac-description{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight:400;
	letter-spacing:1px;
	line-height:15px;
	margin-bottom:5px;
}
